.conteudo {
    display: flex;
    background-color: #58A4B0;
}

.conteudo-principal {
    flex-grow: 3;
}

:root {
    --primaria: #58A4B0;
    --secundaria: #373F51;
    --secundaria-ativa: #CCC;
    --fundo: #FFF;
    --fundo-detalhes: #ECECEC;
}